.app {
  font-family: sans-serif;
  text-align: center;
  background: radial-gradient(circle at 50% 75%, rgb(231, 184, 229), white 50%);
  min-height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;

  /* This construction means any nested img inside of an element with class '.app' */
  & img {
    margin: 2em;
    z-index: 20;
    position: relative;
  }
}
