.app {
  font-family: sans-serif;
  text-align: center;
  background: radial-gradient(circle at 50% 75%, rgb(231, 184, 229), white 50%);
  min-height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;

  /* This construction means any nested img inside of an element with class '.app' */
  & img {
    margin: 2em;
    z-index: 20;
    position: relative;
  }
  
  .openInfoButton {
    font-family: "Bricolage Grotesque", sans-serif;
    position: absolute;
    bottom: 20px;
    right: 20px;
    padding: 10px 25px;
    font-size: 30px;
    background-color: #defbfc;
    border: #afe8ea;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 4px 6px #28a6aa;
    transition: background-color 0.3s;
  }
  
  .openInfoButton:hover {
    background-color: rgb(169, 221, 222); /* Darken on hover */
  }
}
