.infoOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Ensure it appears above other content */
  backdrop-filter: blur(40px);
}

.infoContent {
  font-family: "Bricolage Grotesque", sans-serif;
  background: rgba(255, 255, 255, 0.8);
  padding: 0.2rem 2rem;
  border-radius: 1rem;
  width: 40vw;
  text-align: center;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  filter: drop-shadow(0 0 3rem rgba(0, 0, 0, 0.5));

  & h1 {
    font-family: "Bricolage Grotesque", sans-serif;
    font-size: 2.4rem;
    font-weight: 800;
    margin-bottom: 0rem;
  }

  & h2 {
    font-family: "Courier New", Courier, monospace;
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 0.2rem;
  }
}

.closeButton {
  background: transparent;
  border: none;
  font-size: 20px;
  cursor: pointer;
  position: absolute;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 0.6rem;
  top: 0.5rem;
  right: 0.5rem;
}

.closeButton:hover {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 0.6rem;
  transition: 0.08s ease;
}
