.seedlingBubble {
  position: absolute;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  cursor: pointer;

  opacity: 0;
  animation: popup 1s ease-out forwards;
}

@keyframes popup {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  80%{
    transform: scale(1);
    opacity: 1;
  }
  90% {
    transform: scale(1.2);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.blurBackground {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
}

.title {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  pointer-events: none;
}
