.seedlingBubble {
  position: absolute;
  border-radius: 50px;
  background: radial-gradient(circle, lightblue 30%, transparent 50%);
  display: flex;
  align-items: center;
  justify-content: center;
}
